@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  div[role="tab"] {
    @apply text-white;
  }
}
@layer utilities {
  .shadow-inset-custom {
    box-shadow: inset 0 1px 2px #eee;
  }
   
    .vertical-dots-btn {
      @apply  border-0 p-2 rounded-full text-white  hover:bg-gray-200 dark:hover:bg-gray-700 opacity-0 group-hover:opacity-100 focus:opacity-100
    }
    .sm-icons {
      @apply flex items-center w-full px-4 py-2 text-sm text-left hover:bg-gray-100 dark:hover:bg-gray-700
    }
  
}
@layer components {
  /* Custom Slick Arrow Positioning */
.slick-list {
  margin: 0 -10px;
}

.slick-slide > div {
  padding: 0 10px;
}

/* Hide default arrows */
.slick-prev:before, 
.slick-next:before {
  display: none;
}

/* Custom arrow container positioning */
.slick-prev {
  left: -15px;
}

.slick-next {
  right: -15px;
}
.reels-container::-webkit-scrollbar {
  display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */
.reels-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
@media (max-width: 768px) {
  .slick-prev {
    left: -10px;
  }
  .slick-next {
    right: -10px;
  }
}
}
